{% extends 'customer/base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
      <div class="col-6">
      <div class='column'>
        <h3>Payment successful</h3>
        <p>Thankyou for purchasing the product</p>
        <p>You can explore more products from gadget store</p>
      </div>    
      </div>
  </div>
</div>

<style>

  h2, h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  html {
    height: 100%;
  }

  .col-6 {
      text-align: left;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 650px;
      padding: 10px 40px 40px 40px;
      transform: translate(-50%, -50%);
      background: white;
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.6);
      border-radius: 10px;
  }

  .column {
    padding: 5px;
    text-align: center;
  }
  
  .center {
      align-items: center;
      }
  
  .input{
    margin-left: 33.33%;
    }

  </style>

{% endblock content %}