{% extends 'customer/base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-3"></div>
      <div class="col-6">
        <div class="card p-4">
          <div class="card-body">
            <h2 class="card-title mb-4">Contact Us</h2>

            <p>
              <span class="text-secondary"> "If you love something, wear it all the time... Find things that suit you. That's how you look extraordinary."
                <b class="fst-italic">- Shyna</b></span>
            </p>

            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="center">
                <input type="submit" class="btn btn-dark" value="Send Message"/>
              </div>
          </form>

          </div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>

<style> 
    
    .card h2,p {
      text-align: center;
    }

    .center {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    a{
      text-decoration: none;
    }

    </style>
  
{% endblock content %}
