{% extends 'customer/base.html' %}

{% block content %}

<div class="login-box">
    <h2>Login</h2>
    <form action="" method="post">
        {%csrf_token%}
        {{form.as_p}}
        <div class="center">
            <button id="submit" type="submit" class="btn btn-secondary mb-3">Login</button>
        </div>
        <p>Are you a new user? You can <a href="{% url 'register' %}">Register</a> your account here</p>
    </form>   
</div>

<style>
    
html {
  height: 100%;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 650px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: white;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2,p {
  text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    }

</style>   

{% endblock content %}

