{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card p-4">
        <div class="card-body">
          <h2 class="card-title mb-4">Proceed to Pay</h2>

          <i>Safe and Secure payments. 100% authentic products.</i>
          <p class="mt-2">Only Credit/Debit/ATM cards payment methods are acceptable.
            Cash on delivery is not available.</p>

          <div class="center">
            <a href="" id="buy_now_btn" class="btn btn-dark">Pay with card</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>

<script>
  var stripe = Stripe('{{stripe_public_key}}');
  const buy_now_button = document.querySelector('#buy_now_btn')

  buy_now_button.addEventListener('click', event => {

    stripe.redirectToCheckout({
      // Make the id field from the Checkout Session creation API response
      // available to this file, so you can provide it as parameter here
      // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
      sessionId: '{{session_id}}'
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
  })

</script>

<style>
  .card h2 {
    text-align: center;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
  }
</style>

{% endblock content %}