{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card p-4">
        <div class="card-body">
          <h2 class="card-title mb-4">Payment Successful</h2>
          <i>Thankyou for purchasing the products from our store.</i>
          <p class="mt-2">We will sent the shipping details to your email address.
            You can continue shopping more products from our store.</p>

          <div class="text-center">
            <a href="{% url 'list' %}" class="btn btn-dark">Continue Shopping</a>
          </div>

        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
</div>

<style>
  .card h2 {
    text-align: center;
  }

  .card p {
    text-align: justify;
  }

  a {
    text-decoration: none;
  }
</style>

{% endblock content %}