{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product List</title>
    <link rel="stylesheet" href="{% static 'simple.min.css' %}">
</head>

<style>
    nav {
        text-align: center;
    }
    nav a {
        margin: 0.2rem;
        min-width: 1.2rem;
        font-weight: bold;
    }

    nav a.current {
        border-color: var(--bg);
    }
</style>

<body>
{% block content %}
    <h1>Products</h1>

    {% block paginationcontent%}
        {% for keyword in keyword_list %}
            <pre>{{keyword}}</pre>
        {% endfor %}       
    {% endblock %}

    <nav>
        {% block pagination %}
            
        {% endblock %}
    </nav>
{% endblock %}

</body>