{% extends 'main/base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="card p-4">
        <div class="card-body">
          <h2 class="card-title mb-4">Create Account</h2>

          <form action="" method="post">
            {%csrf_token%}
            {{form.as_p}}
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-dark">Sign up</button>
            </div>
            <!-- <p>Already have an account? <a href="{% url 'signin' %}">Sign in</a></p> -->
          </form>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<style>
  .card h2,
  p {
    text-align: center;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
  }
</style>
{% endblock content %}